{% extends 'admin_base.html' %}
{% block js %}
  <script src="{{url_for('static', filename='admin/js/articles.js') }}"></script>
  <script id="table_row" type="text/html">
  {% raw %}
  <tr article_id="1">
    <td class="checkbox">
      <input type="checkbox"/>
    </td>
    <td class="title">
      <a href="{{ urls.edit }}">{{ title }}</a><br/>
      <span class="author">by <a href="{{ author.url }}">{{ author.username }}</a></span>
    </td>
    <td class="actions">
      <a href="{{ urls.edit }}">Review</a>
    </td>
  </tr>
  {% endraw %}
  </script>
  <script>
  $(function() {
    populate_tables();
  });
  </script>
{% endblock %}
{% block main_column %}

      <div id="edit-queue" class="six columns alpha">
        <h2>Edit Queue <span class="subheader">These articles have been submitted by writers and are pending review.</span></h2>

        <table class="articles js-pop" status="edit-queue" url="{{ url_for('admin.json_articles') }}" page="1">
          <tr class="header">
            <th>&nbsp;</th>
            <th>Article</th>
            <th>Actions</th>
          </tr>
        </table>
      </div>


      <div id="published-articles" class="six columns alpha js-pop">
        <h2>Published <span class="subheader">These articles are live on the website. You can take them down or make corrections.</span></h2>

        <table class="articles js-pop" status="published" url="{{ url_for('admin.json_articles') }}" page="1">
          <tr class="header">
            <th>&nbsp;</th>
            <th>Article</th>
            <th>Actions</th>
          </tr>
        </table>
      </div>
{% endblock %}