{% extends 'admin_base.html' %}
{% block js %}
  <script src="{{ url_for('static', filename='admin/js/edit_article.js') }}"></script>
{% endblock %}
{% block main_column %}
<p>This is where you can create an article, and if you are an editor, edit or disable other people's articles.</p>
<form class="editor" method="POST">
    {{ form.csrf }}
    <fieldset class="basic">
        {{ render_field(form.title, class_='title') }}
        {% if g.user.allowed_to('change_authors') %}
            {{ render_field(form.author_id, label='Author') }}

        {% elif g.user.allowed_to('manage_articles') %}
            {{ render_field(form.author_id, label='Author', disabled=True) }}
        {% endif %}
        {{ render_field(form.subtitle) }}
        {{ render_field(form.pub_date) }}
        {{ render_field(form.category_id) }}
        {{ render_field(form.status) }}
        {{ render_field(form.body) }}
    </fieldset>
    <fieldset class="advanced">
        {{ render_field(form.slug, class='slug') }}
        {{ render_field(form.revision) }}
    </fieldset>
    <div class="twelve columns alpha omega" style="text-align: right"><input type="submit" value="{{ submit }}" /></div>   
</form>
{% endblock %}